{% extends "main/layout.html" %}
{% block title %}
    Code-spaces
{% endblock %}
{% block main %}
<div class="main" style="background-color: white">
    <div class="headsection" style="height: 40%">
        <div style="display: flex; justify-content: space-around; width: 100%; color: white">
            <span class="h5">Problem name</span>
            <span class="h4" style="background-color: gray">Time Section</span>
        </div>
    {%for stats in question.stats_question.all%}
        <div style="height: 40%; width: 100%; display: flex; justify-content: space-around; padding: 20px; color: white">
            <span class="h5">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="color:black;width: {{stats.Difficulty}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{stats.Difficulty}}%..........................</div>
                </div>
            </span>
            <span class="h5">
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="color:black;width: {{stats.Acceptance}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> {{stats.Acceptance}}%..............................</div>
                </div>
            </span>
            <span class="h5">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{stats.Tricky}}%;color:black" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"> {{stats.Tricky}}%...............................</div>
                </div>
            </span>
            {%endfor%}
        </div>
        <div class="bars" style="display: flex; justify-content: space-around; width: 100%; color: white">
            <span class="h6">Difficulty</span>
            <span class="h6">Acceptance rate</span>
            <span class="h6">Tricky one</span>

        </div>
        <div style="color : wheat;display:flex;justify-content:space-around">
            <div style="margin:30px" class="text-primary " id="heading_title"> {{question.Question_title}}</div>
            <div style="display:flex;justify-content:space-between">
            <div class="h6" style="margin:30px;">
                <span>
                <form action="{% url 'code' %}" method="POST" enctype="multipart/form-data" style="display:flex;color:white;align-items:flex-start">

                    {% csrf_token %}
                    <input name="title" type="text" value="{{ question.Question_title }}" hidden>
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-sm" style="padding:0 4px 0 4px;margin:0">Small</button>
                </form>
                </span>
                </div>

        </div>
    </div>
    <div class="code-section" style="display: flex;flex-wrap:wrap; justify-content: space-around; height: 50vh;text-align:center;align-items:center;wrap;flex-wrap:wrap">
        <div class="description" style="color:#0D1321;width: 45%;min-width:30%; height: 100%; background-color:wheat; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; padding: 20px; font-family: Arial, sans-serif; overflow-y: auto; border-radius: 10px;">
            <dl class="text-primary" style="background-color:transparent">Code description</dl>
            <hr>
        <div style="background:inherit">
            {{question.Question_discription}}
        </div>
        <br>
        <div class="code_explanation" style="background:inherit;display:flex;align-items:flex-start;flex-direction:column">
            <span><kbd>Input</kbd>:   {{question.input1}}</span>
            <br>
            <span><code>Output</code>:   {{question.output1}}</span>
            <hr>
            <span><kbd>Input</kbd>:   {{question.input2}}</span>
            <br>
            <span><code>Output</code>:   {{question.output2}}</span>
            <hr>
            <code>Tecnology:</code>
            <kbd>{% for tag in question.tags_for_question.all%}
                    {{tag.tags_tecnology}}    
                {%endfor%}
            </kbd>


            <code>Frameworks :</code>
            <kbd>{% for tag in question.tags_for_question.all%}
                {{tag.tags_frameworks}}    
            {%endfor%}

        </kbd>
        <hr>
        <kbd id ="open_discussion">Discussion Form </kbd>

        </div>
        </div>
        
        <div id="review" >
            <form id="review_form" >
                <input type="text" value={{question.id}} hidden id="question_id">
                <div>
                    <label class="form-label">Difficulty :</label>
                    <input type="range" class="customRange1" id ="Difficulty_level" min="0" max="100">
                </div>
                <div>
                    <label  class="form-label">Acceptance :</label>
                    <input type="range"  class="customRange1" id ="Acceptance_level" min="0" max="100"> 
                </div>
                <div>
                    <label  class="form-label">Tricky :</label>
                    <input type="range"  class="customRange1" id="Tricky_level" min="0" max="100">
                </div>
                <button type="button" id="form_submit" class="btn btn-primary btn-sm">Submit</button>

            </form>
        </div>
        <div class="discussion" style="color:#0D1321;width: 45%; height: 80%; background-color: rgb(0,142, 146); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; padding: 20px; font-family: Arial, sans-serif; overflow-y: auto; border-radius: 10px;display:none">
            Collaborate
            <hr>
            <div id="carouselExampleIndicators" style="background:transparent" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators" style="background:transparent;position:sticky;">
                  <button type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner " style="background:transparent">
                  <div class="carousel-item active" style="background:transparent">
                    <div style="background:transparent">{% lorem 1 b random %}</div>
                </div>
                  <div class="carousel-item" style="background:transparent">
                    <div style="background:transparent">{% lorem 1 b random %}</div>
                  </div>
                  <div class="carousel-item" style="background:transparent">
                    <div style="background:transparent">{% lorem 1 b random %}</div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    
    </div>
</div>

{% endblock %}
