{%extends "main/layout.html"%}
{%block title%}
    Conversation
{%endblock%}
{%block main%}
    <div class="main" style="display:flex; height: 80vh;justify-content:space-between">
      <div class="card" style="width: 40%; color: black;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 55%; color: black;">
      <div style="height: 200vh;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div style="height: 100vh;">
        <hr style="color:white ">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

      </div>
      </div>
    </div>
{%endblock%}