{%extends "main/layout.html"%}
{%load static%}
{%block title%}
    Conversation
{%endblock%}
{%block main%}
    <div class="main" style="display:flex; height: 80vh;justify-content:space-between">
      <div class="card" style="width: 40%; color: black;">
        <div class="card-body">
          <div class="form-group">
            <div style="display:flex;justify-content:space-between" >
              <span style="color:white;padding:10px"> Messages</span>
              <span style="color:white;padding:10px" id="add_group">  Create   👥</span>
            </div>
          </div>

        <div class="continer" style="display:flex;flex-direction:column;align-content:flex-end">
          <div>
          {%for follower in  followers %}
          <div id ="#chat">
            <div class = "friends" style="width:inherit;padding:5px;opacity: 70%;" data-id = {{follower.id}}>
              <a href="{%url 'profile' id=follower.id%}"><span style="padding:11px"><img src={{follower.image}} alt="hugenerd" width="30" height="30" class="rounded-circle bg-dark" ></span></a>
              {{follower.username}}
            </div>
          </div>
          {%endfor%}
          <hr>
          <h6 style="color:wheat;margin-left:20px;display:flex">Groups:</h6>
          {%for group in  groups %}
            <div id ="#chat_group">
              <div class = "friends_group" style="width:inherit;padding:5px;opacity: 70%;color:white" data-id = {{group.id}}>
                <a href="{%url 'group' id=group.id%}"> <span style="padding:11px"><img src={{group.image}} alt="hugenerd" width="30" height="30" class="rounded-circle bg-dark" data-id = {{group.id}}></span></a>
                {{group.group_title}}
              </div>
            </div>
          {%endfor%}
        </div>
        </div >
        <div class="card" id="carddee" style="width: 18rem;display:absolute;z-index=0 ;display:none;margin-left:10px;bottom:30px">
          <a class="a_img"><img height="250px" class="card-img-top" src="https://github.com/mdo.png" alt="Card image cap" ></a></a>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        </div>
      </div>
      <div class="card" style="width: 55%; color: black;height:92%;text-align:center;margin-top:20px;">
        <div id="msg--for" style="height: 100%;display:none">
          <form method="post" action="/submit_group" class="form-group dark-form" method ="post">
            {%csrf_token%}
            <div class="form-group">
              <label for="group_name">Group Name</label>
              <input type="text" id="group_name" name="group_name" class="form-control dark-input" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" name="description" class="form-control dark-input" required></textarea>
            </div>
            <div class="form-group">
              <label for="rules">Rules</label>
              <textarea id="rules" name="rules" class="form-control dark-input" required></textarea>
            </div>
            <div class="form-group">
              <label for="profile_url">Profile URL</label>
              <input type="url" id="profile_url" name="profile_url" class="form-control dark-input" required>
            </div>
            <button type="submit" class="btn btn-primary dark-button">Create Group</button>
          </form>
        </div>
    
     
        <div id = "msg-section-for"style="height: 200vh;">
        <div class="card-body">
          <div id="hype" class="hype bg-dark" style="display:flex;justify-content:space-around;">
          <div  class="bg-dark"id = "friedns_title" style="opacity:70%;border-radius:7px">
                  <h3  id="card-title3">Card title</h5>
            </div>
          
            <div></div>
          </div>
        <div class="card" style="width: inherit;background:inherit;height:80%;z-index:0">
          <ul class="list-group list-group-flush" style="z-index:0" id="ul_friends">
            <div class="raja">
            <li class="list-group-item"  style="display:flex;justify-content:space-around"><span>A third item</span ><span class="date">2024-02-12T14:25:18.765Z</span></li>
            </div>
          </ul>
        </div>

        </div>

    </div>
    <div style="position:relative;display:flex;width:100%;flex-direction:row">
        <textarea id="messageInput"style="width:80%;margin-left:20px" data-id = 900 class="form-control" rows="1" cols="70" placeholder="Type your message here..." ></textarea>
    </div>
    <style>
      #msg--for {
        height: 200vh;
        background-color: #333;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fadeIn 1s ease-in-out;
      }

      .form-group label {
        color: #fff;
        font-weight: bold;
      }

      .form-control {
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }

      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease-in-out;
      }

      .btn-primary:hover {
        background-color: #0056b3;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    </style>
  {%endblock%}