{% extends 'main/layout.html'%}
{%block title%}
code-colab-hub
{%endblock%}
{%block main%}

<span><kbd class="bg-alert">Problems of this day</kbd></span>

<div class="Problems_continer continer" style="padding-top:1%;width:90%;margin:auto">
  <table class="table table-striped  table-dark table-hover" >
  <thead>
    <tr >
      <th scope="col">#</th>
      <div class="vr bg-">
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>    
  </tbody>
</table>
</div>
  <div class="message_block">
      <span><p class="Message_title" >messages for the unit section </p></span>

    <div class="row" style="background-color: #f0f0f0;">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.
              dklkkdsnalknkl nkltjeklksan klnk ndkl nsdklnkldn kldnlkdasmnkalkaklamnklnmkl
              dklkkdsnalknkl nkltjeklksan klnk ndkl nsdklnkldn kldnlkdasmnkalkaklamnklnmkl
              dklkkdsnalknkl nkltjeklksan klnk ndkl nsdklnkldn kldnlkdasmnkalkaklamnklnmkl
              dklkkdsnalknkl nkltjeklksan klnk ndkl nsdklnkldn kldnlkdasmnkalkaklamnklnmkl

            </p>
          </div>
        </div>
      </div>
    </div>

</div> 


{%endblock%}