{% extends 'main/layout.html'%}
{%block title%}
code-colab-hub
{%endblock%}
{%block main%}

<span><kbd class="bg-alert">Problems of this day</kbd></span>

<div class="Problems_continer continer" style="padding-top:1%;width:90%;margin:auto">


            <table class="table  table-info table-hover">

                <thead class="table-primary" style="font-size:15px">
                  <tr>
                    <kbd><th scope="col">id</th></kbd>
                   
                    <th  colspan="3">Title</th>
                    <th>Difficulty</th>
                    <th>Acceptance</th>
                    <div class="vr bg-white" ></div>
                  </tr>
                </thead>
                <tbody>
                  {%for question in questions%}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td colspan="3">
                          <a type="text" name="id" href ="code/{{question.id}}"> {{question.Question_title}} </a>
                    </td>
                      {%for degree in question.stats_question.all%}
                      <td>
                        {{degree.Difficulty}}

                      </td>
                      <td>
                        {{degree.Acceptance}}
                      </td>
                      {%endfor%}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

</div>
<div id="min_tost"class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;border-radius:6px ">
  <div id="liveToast" class="toast hide" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" style="background-color:white; color: black;padding:0;margin-bottom:0.5px">
    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle bg-dark" id ="profile_pec">

    <div class="toast-header" style="background-color:white">
      <strong class="me-auto" style="background-color:white;color:black;margin:8px">Bootstrap</strong>
      <small style="background-color:white;color:black">11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" style="background-color:white;color:black">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
  <div class="message_block">
  </div> 


{%endblock%}