<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title%}{%endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{%static 'favicon.ico'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="623352232041-qf1p0tf4o2bc7jlktanf191sffvljmab.apps.googleusercontent.com">
        <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <title>Code_colab_hub</title>
        <script src="{% static 'index.js'%}"  ></script>


</head>
    <body style="overflow-x:hidden">
                <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
        <div class="section-1" style="display:flex;justify-content:space-between;flex-wrap:wrap">
            <div style ="display:flex;width:65%;justify-content:space-between" id="section-11">
                <span class="dot" id="profile_sidebar" style="flex-wrap:nowrap"></span>
                <h1 id="head" style="display:flex;flex-wrap:nowrap">code-colab-hub</h1>
            </div>
            <div class="dropdown pb-4 " style="background:inherit">
                <a href="#" class=" d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle bg-dark" id="profile_pic">
                    <span id="profile_name" class="d-none d-sm-inline mx-1 bg-dark">Profile</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item " href="{%url 'new_prb'%}">New Problem...</a></li>
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{%url 'logout' %}">Sign out</a></li>
                </ul>
            </div>
            </div>
        </div>

        <nav  id="nav" class="navbar navbar-expand-lg navbar-dark" style="position:sticky;top:0">
          <a class="navbar-brand" href="">Code-chef</a>
          <div class="vr bg-white "></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <div class="dropdown pb-4">
                
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">Profile</span>
                </a>
                
            </div>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position:sticky;top:0;z-index:1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'friends'%}">Connect</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'prb'%}">Problems...</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{%url 'solved_ques'%}">Solved one</a>
              </li>
            </ul>
            <div style="display:flex;position:sticky;top:0;z-index:1" id="searchnav" >
              <form class="form-inline my-2 my-lg-1" style="display:flex;position:sticky;top:0;z-index:1">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  id ="navsearchbar"list="AutoSugestionslist">
                <datalist id = "AutoSugestionslist">
                  <option value="Objective C">Objective C</option>

                </datalist>
                <div class="vr bg-white "></div>
                <button id="search_submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
        </nav>
        <div class="card" id="caddee" style="width: 18rem;display:absolute;z-index=5;position:absolute ;display:none;  bottom: 8px;right: 16px;">
          <a class="a_img"><img class="card-img-top" id="img_for_preview" height="250px" src="https://github.com/mdo.png" alt="Card image cap" ></a></a>
          <div>
            <button class="btn btn-sm btn-black" id="close_preview_buttons" type="button" style="color:black"> <code>close 🕹️<code></button>
            <kbd></kbd>
          </div>
          <div class="d-grid gap-2 d-md-block" >
              <button class="btn btn-sm btn-primary" id="alter_connections_button" type="button">Button</button>
              <kbd>Connections: <code id="Connections" style="margin-left:7px">4</code></kbd>
          </div>
        </div>
        </div>
            <div id="main">
              
                {%block main%}{%endblock%}
            </div>
        </body>
        </html>
