{%extends "main/layout.html"%}

{%load static %}
{%block title%}
Problem_tackel_space
{%endblock%}
{%block main%}
<div class="bod" style="display:flex">
    <div  id="problem_section" class="continer" >
        <div>
            <div class="h4 " style="color:wheat ">
                Total challenging Problems
            </div>

        </div>
        <table class="table table-hover table-info" >

        <thead class="table-black disabled" style="background-color:black">
            <tr>
                <th scope="col">id</th>
                <th  colspan="3">Title</th>
                <th>Difficulty</th>
                <th>Acceptance</th>
            </tr>
            </thead>
        <tbody>
            <!-- Your table content -->
            {%for question in questions%}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td colspan="3">
                  <a type="text" name="id" href ="code/{{question.id}}"> {{question.Question_title}} </a>
            </td>
              {%for degree in question.stats_question.all%}
              <td>
                {{degree.Difficulty}}

              </td>
              <td>
                {{degree.Acceptance}}
              </td>
              {%endfor%}
            </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
    <div style="display:inline; width:20%;padding-top:5%">
    </div>
</div>
{%endblock%}
{% comment %} <table class="table-primary">...</table>
<table class="table-secondary">...</table>
<table class="table-success">...</table>
<table class="table-danger">...</table>
<table class="table-warning">...</table>
<table class="table-info">...</table>
<table class="table-light">...</table>
<table class="table-dark">...</table>

<!-- On rows -->
<tr class="table-primary">...</tr>
<tr class="table-secondary">...</tr>
<tr class="table-success">...</tr>
<tr class="table-danger">...</tr>
<tr class="table-warning">...</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr>

<!-- On cells (`td` or `th`) -->
<tr>
    <td class="table-primary">...</td>
    <td class="table-secondary">...</td>
    <td class="table-success">...</td>
    <td class="table-danger">...</td>
    <td class="table-warning">...</td>
    <td class="table-info">...</td>
    <td class="table-light">...</td>
    <td class="table-dark">...</td>
  </tr> {% endcomment %}